body {
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select Photo and Video';
  background-color: #323232;
    border-color: #323232;
    color: #fff;
    border-radius: 0;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
   
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    
    
    background-image: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    
}

.custom-file-input:hover::before {
  border-color: black;
  background-color: #323232;
  border-color: #323232;
  color: #fff;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}